*.pth
MAIN/main_1.ipynb
*.npy
*.zip
*.hdf5
MAIN\zenodo_data\exams_extracted
MAIN\zenodo_data\data_zip
*.txt
MAIN/ARCHIVE
MAIN/overleaf
MAIN/__pycache__
kupa.ipynb
MAIN/encoding2.py
MAIN/ML/smooth_using _normlised _legendre_old.ipynb
MAIN/ML/smooth_using _normlised _legendre copy.ipynb
!MAIN/EXPERIMENT_*/*.txt
!MAIN/EXPERIMENT_*/*/*.txt